body{
scroll-behavior:smooth;
}

#progress-bar{
height:5px;
background:#00ffcc;
position:fixed;
top:0;
left:0;
width:0%;
z-index:1000;
}

.white-section{
background:white;
color:black;
}

.black-section{
background:#111;
color:white;
}

.highlight{
color:#00b894;
}

.hero-img{
max-width:350px;
}

.diagonal{
height:100px;
background:linear-gradient(to bottom right, white 49%, #111 50%);
}

.diagonal-reverse{
height:100px;
background:linear-gradient(to bottom right, #111 49%, white 50%);
}

.project-card{
transition:0.4s;
}

.project-card:hover{
transform:translateY(-10px);
}